<html>

<head>
  <title>|搜索框的实现</title>
  <meta charset="UTF-8">
  <style type="text/css">
  </style>
</head>
<body>
<div>
  <h2>搜索框</h2>
  <form method="get" id="searchform" action="/search/index_student">
    <fieldset class="search">
      <input type="text" class="box" name="s" id="s" class="inputText" placeholder="学生搜索" x-webkit-speech>
      <input title="SEARCH" type="submit"/>
    </fieldset>
  </form>
</div>
<article class="article">
</article>
</body>
</html>